@{
    ViewData["Title"] = "Students";
}

@*@model List<schoolData.studentModel>*@
<h1>Student Data</h1>

@Html.DropDownList("Options", null, new { onchange = "document.location='/Home/Students?value='+ this.value;" })

@if (ViewBag.Value == 1)
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="StudentCreate">
        <input type="button" class="btn btn-primary" value="Create" />
    </a>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOE</th>
            <th>Age</th>
            <th>Grade</th>
            <th>GPA</th>
        </tr>
        @foreach (var student in ViewBag.Students)
        {
            <tr>
                <td>@student.StudentId</td>
                <td>@student.fname</td>
                <td>@student.lname</td>
                <td>
                    @student.dateOfEnrollment
                </td>
                <td>@student.age</td>
                <td>@student.grade</td>
                <td>@student.GPA</td>
                <td>
                    @Html.ActionLink("Update", "SelectStudent", new { id = student.StudentId }, null)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteStudent", new { id = student.StudentId }, null)
                </td>
            </tr>
        }

    </table>
}
else if (ViewBag.Value == 2)
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TeacherCreate">
        <input type="button" class="btn btn-primary" value="Create" />
    </a>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Expertise</th>
            <th>Age</th>
            <th>Date of Hire</th>
        </tr>
        @foreach (var teacher in ViewBag.Teachers)
        {
            <tr>
                <td>@teacher.TeacherId</td>
                <td>@teacher.fname</td>
                <td>@teacher.lname</td>
                <td>
                    @teacher.expertise
                </td>
                <td>@teacher.age</td>
                <td>@teacher.dateOfHire</td>
                <td>
                    @Html.ActionLink("Update", "SelectTeacher", new { id = teacher.TeacherId }, null)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteTeacher", new { id = teacher.TeacherId }, null)
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3>@ViewBag.Value</h3>
}
