@{
    ViewData["Title"] = "Confirm Delete";
}

@model List<schoolData.Models.staffModel>

<div class="text-center" id="object">
    <h1 class="display-4">Confirm deletion?</h1>
    @foreach (var staff in Model)
    {
        <p>@staff.fname</p>
        <p>@staff.lname</p>
        <p>@staff.age</p>
        <p>@staff.dateOfHire</p>
        <p>@staff.jobTitle</p>

        @Html.ActionLink("Delete", "ConfirmStaffDelete", new { id = staff.StaffId }, null)
    }

</div>
