@{
    ViewData["Title"] = "Update Staff";
}

@model List<schoolData.Models.staffModel>
<div class="text-center" id="object">
    <h1 class="display-4">Update</h1>
    @foreach (var staff in Model)
    {
<form method="post" action="/Staff/UpdateStaff">
    <br />
    <input type="text" id="StaffId" name="StaffId" value="@staff.StaffId" />
    <br />
    <label>First Name</label>
    <br />
    <input type="text" id="fname" name="fname" value="@staff.fname" />
    <br />
    <label>Last Name</label>
    <br />
    <input type="text" id="lname" name="lname" value="@staff.lname" />
    <br />
    <label>Age</label>
    <br />
    <input type="text" id="age" name="age" value="@staff.age" />
    <br />
    <label>Date Of Hire</label>
    <br />
    <input type="text" id="dateOfHire" name="dateOfHire" value="@staff.dateOfHire" />
    <br />
    <label>Job Title</label>
    <br />
    <input type="text" id="jobTitle" name="jobTitle" value="@staff.jobTitle" />
    <br />
    <input type="submit" value="Update" />
</form>
    }

</div>
