@{
    ViewData["Title"] = "Update Teacher";
}

@model List<schoolData.Models.teacherModel>
<div class="text-center" id="object">
    <h1 class="display-4">Update</h1>
    @foreach (var teacher in Model)
    {
<form method="post" action="/Staff/UpdateTeacher">
    <br />
    <input type="text" id="TeacherId" name="TeacherId" value="@teacher.TeacherId" />
    <br />
    <label>First Name</label>
    <br />
    <input type="text" id="fname" name="fname" value="@teacher.fname" />
    <br />
    <label>Last Name</label>
    <br />
    <input type="text" id="lname" name="lname" value="@teacher.lname" />
    <br />
    <label>Expertise</label>
    <br />
    <input type="text" id="expertise" name="expertise" value="@teacher.expertise" />
    <br />
    <label>Age</label>
    <br />
    <input type="text" id="age" name="age" value="@teacher.age" />
    <br />
    <label>Date Of Hire</label>
    <br />
    <input type="text" id="dateOfHire" name="dateOfHire" value="@teacher.dateOfHire" />
    <br />
    <input type="submit" value="Update" />
</form>
    }

</div>